<h1>Listing orders</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.address %></td>
        <td><%= order.city %></td>
        <td><%= order.state %></td>
        <!-- Replace order with listing_order_path -->
        <td><!-- link_to 'Show', listing_order_path(order) --></td>
        <!-- Replace edit_order_path with edit_listing_order_path -->
        <td><!-- link_to 'Edit', edit_listing_order_path(order) --></td>
        <td><!-- link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } --></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- Replace new_order_path with new_listing_order_path -->
<%= link_to 'New Order', new_listing_order_path %>
