<!-- Remove the New Order heading -->
<!-- <h1>New order</h1> -->

<%= render 'form' %>

<!-- Since we've re-routed our New Order URL, we need to update our link 
from orders_path to this new URL (listing_orders_path not working). -->
<%= link_to 'Back', @listing %>
