<br />
<p>Copyright &copy; 2014-<%= Time.now.year.to_s %>. Developed by <%= link_to "Waihon Yew", "http://fb.me/waihonpage" %> based on online Ruby on Rails course taught by <%= link_to "BaseRails", "https://www.baserails.com/marketplace" %>.</p>